<!--Dynamic display of each user recipe card individually, view recipe and instruction details-->

{% extends 'base.html' %} {% block menu %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
</ul>
{% endblock %} {% block content %}

<!--card to dipsay full recipe to user to use edit modify boostrap theme--> 
<!--do something wih this card size-->
<div class="card mb-2">
  <img src="/static/uploads/images/{{recipe.Images}}" class="card-img-top" style="height:400px" alt="Profile image for {{recipe.name}}">
  <div class="card-body">
    <h5 class="card-title"><strong>Recipe Name:</strong> {{ recipe.Recipe_name }}</h5>
    <p class="card-text"><strong>Ingredients:</strong> {{recipe.Ingredients}}</p>
    <p class="card-text"><strong>Instructions:</strong> {{recipe.Instructions}}</p>
    <p class="card-text"><strong>Allergen:</strong> {{recipe.Allergen_name}}</p>
    <p class="card-text"><strong>Cuisine Type:</strong> {{recipe.WorldCuisine_name}}</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

{% endblock %}
