<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/07e47bec87.js"></script>
  <script type="text/javascript" src="{{url_for('static' , filename= 'js/main.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static' , filename= 'css/modern-business.css')}}" type="text/css" />
  <link rel="stylesheet" href="{{url_for('static' , filename= 'vendor/bootstrap/css/bootstrap.min.css')}}" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename= 'css/style.css')}}">
  <title class="main-cite-heading">The Cookshack Cookbook</title>
</head>

<!-- Navigation Menu -->

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">The Cookshack Cookbook</a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('addrecipe')}}"> Add Recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container slide">

    {% block content %} {% endblock %}
    
    <!----Carousel header--->
  </div>
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('static/images/bowl-cuisine-delicious-1640773.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Bowl Cuisine</h3>
            <p>Deliscious potato fries and dip, and garnish.</p>
          </div>
        </div>

        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('static/images/bowl-close-up-cuisine-2942319.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Bowl close up</h3>
            <p>Steamed rice and vegetables.</p>
          </div>
        </div>

        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('static/images/basil-blur-close-up-1437267.jpg')">
          <div class="carousel-caption d-none d-md-block">

            <h3>Basil penne</h3>
            <p>Basil and Penne, topped with cheessy goodness.</p>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->

  <div class="container backdrop-image">

    <h1 class="my-4">Welcome To Cookshack</h1>

    <!--<h2>Portfolio Heading</h2>-->
    <!--do something with this car size limit image size-->
    <div class="row backdrop-image">
      {% for item in recipe_data %}

      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/static/uploads/images/{{item.Images}}" style="height:200px" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="/recipe/{{item.Recipe_name}}">{{item.Recipe_name}}</a>
              <h4>By: {{item.User_name}}</h4>
              <h6>Allergen: {{item.Allergen_name}}</h6>
              <h6>Category: {{item.Category_name}}</h6>
              <h6>Cusine Type: {{item.WorldCuisine_name}}</h6>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <div class="container-fluid" style="text-align: center;background-image: url('static/images/assorted-fruits-close-up-colorful-2955817.jpg'); background-position: center;background-repeat: no-repeat; background-size: cover;">

    <h3 style="color:white; padding-top:20px;"> #1 Editor's Choice Feature Desserts <i class="fas fa-certificate" style="color:white;"></i></h3>

    <!--Portfolio Heading-->
    <div class="row">
      {% for item in dessert %}
      <div class="col-lg-6 col-sm-6 portfolio-item">
        <div class="card" style="width: 18rem; margin: 0 auto;float: none;margin-bottom: 10px;margin-top: 10px;">
          <img class="card-img-top" src="/static/uploads/images/{{item.Images}}" alt="DESSERT">
          <div class="card-body">
            <h2>{{item.Recipe_name}}</h2>
            <p class="card-text">
              <h4>By: {{item.User_name}}</h4>
              <br>
              <h6>Allergen: {{item.Allergen_name}}</h6>
              <br>
              <h6>Category: {{item.Category_name}}</h6>
              <br>
              <h6>Cusine Type: {{item.WorldCuisine_name}}</h6>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>

  <!-------------------------------------------------------->

  <!--------------------- Footer --------------------------->

  <footer class="py-5 bg-dark">

    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Chefsunited Enterprises 2019</p>
    </div>

    <!--Search Bar----->
    <!--Come back and fix this link for style alignment add to wanted features list-->
    <div class="col-md-6">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control form-control-lg mr-sm-0 col-8
                                 border-right-0 " style="border-radius: 5px 0px 0px 5px; " type="search" placeholder="What Do You Want To Eat?" aria-label="Search">

        <button class="btn btn-light btn-lg my-2 my-sm-0 col-2 border-left-0" style="border-radius: 0px 5px 5px 0px;" type="submit"><i class="fas text-danger fa-search"></i></button>
      </form>
    </div>
    <!-- /.container -->
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
